<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aditya Raj</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <style>
        ::selection {
            background: #b3d4fc;
            text-shadow: none;
        }
        h1 {
            color: #127315 !important;
        }
    </style>
</head>
<body class="bg-gray-100 font-sans text-base leading-relaxed max-w-[900px] mx-auto p-5 overflow-x-auto">
    <div class="font-nunito">
        <div id="introduction-wrapper" class="flex flex-col md:flex-row justify-evenly items-center w-full p-5">
            <h1 class="text-3xl font-bold p-2">Aditya Raj</h1>
            <img id="main-profile-pic" src="https://github.com/adityaraj079/Images/blob/main/web_logo.png?raw=true" 
            loading="eager" alt="Aditya Raj" class="p-1.5 rounded-full w-24 h-24 md:w-40 md:h-40 brightness-100">
            <div id="bio" class="text-center p-2">
              <p>
                📧 <a href="mailto:rajaditya079@gmail.com" class="text-inherit hover:text-[#127315] hover:underline">rajaditya079@gmail.com</a>
              </p>

              <p>📍 New Delhi, India </p>

              <a href="https://www.gmu.edu/" class="text-inherit hover:text-[#127315] hover:underline">George Mason University</a>
            
              <div class="flex justify-center pt-1.5">
                <a href="https://drive.google.com/file/d/1m7jU6PAYZSp9cZcySgjUzciEVRfTB6Gf/view?usp=sharing" 
                   target="_blank" 
                   class="flex items-center text-[#127315] border border-[#127315] hover:bg-[#e6f2e6] font-bold py-1.5 px-8 rounded transition duration-300 ease-in-out text-base">
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 384 512" class="mr-2" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M224 136V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm76.45 211.36l-96.42 95.7c-6.65 6.61-17.39 6.61-24.04 0l-96.42-95.7C73.42 337.29 80.54 320 94.82 320H160v-80c0-8.84 7.16-16 16-16h32c8.84 0 16 7.16 16 16v80h65.18c14.28 0 21.4 17.29 11.27 27.36zM377 105L279.1 7c-4.5-4.5-10.6-7-17-7H256v128h128v-6.1c0-6.3-2.5-12.4-7-16.9z"></path>
                  </svg>
                  Resume
                </a>
              </div>

            </div>
            
        </div>

        <div id="menu" class="w-full border-t border-b border-gray-400 mb-8 py-2">
            <nav class="flex w-full justify-evenly flex-wrap">
                <a href="/" class="rounded-full px-2 py-1 text-[#127315] bg-gray-100 hover:bg-[#e6f2e6] hover:text-gray-900">
                    Home
                </a>
                <a href="/publications" class="rounded-full px-2 py-1 text-gray-700 hover:bg-[#e6f2e6] hover:text-gray-900 text-center">
                    Publication
                </a>
                <a href="/projects" class="rounded-full px-2 py-1 text-gray-700 hover:bg-[#e6f2e6] hover:text-gray-900">
                    Projects
                </a>
                <a href="/contactme" class="rounded-full px-2 py-1 text-gray-700 hover:bg-[#e6f2e6] hover:text-gray-900">
                    Contact me
                </a>
            </nav>
        </div>

        <!-- Start main content here -->
        <p class="text-center font-semibold subpixel-antialiased text-xl">Solving problems, one line of code at a time</p>
        
        <div class="py-6">
            <p>I am a Master's student in Computer Science at George Mason University. 
                I completed my Bachelor's degree at the University of Petroleum and 
                Energy Studies, where I worked under the guidance of Dr. Arjun Arora 
                (Assistant Professor, School of Computer Science) and Dr. Hitesh Kumar 
                Sharma (Head of Department, School of Computer Science).
            </p>
        </div>
        
        <div> 
            <p class="text-lg font-bold pb-2">Summary</p>
            <p>
                Technology has always intrigued me, driving me to explore its complexities 
                and real-world applications. With a background in Computer Science 
                specializing in <b>DevOps</b>, I have developed expertise in backend development, 
                cloud technologies, and automation. Over time, my interest expanded into 
                <b>Artificial Intelligence (AI)</b> and <b>Natural Language Processing (NLP)</b>, where I see 
                immense potential for transforming industries and enhancing human-computer interactions.
            </p>
            <p>
                At Ganit Inc., I worked as a Senior Data Analyst, leveraging <b>SQL, Python, 
                and Excel</b> to analyze <b>FMCG sales</b> data, build dashboards, and automate 
                reporting, reducing manual effort by <b>60%</b>. I also led on-premise data 
                migration to <b>AWS</b>, optimizing efficiency and security.
            </p>
            <p>
                As a DevOps Engineer Intern at Xebia, I designed <b>CI/CD pipelines</b>, 
                containerized applications with Docker, and contributed to a full-stack 
                hotel reservation system. This strengthened my understanding of integrating 
                AI with scalable infrastructure.
            </p>
            <p>
                Eager to explore AI subfields like <b>NLP</b> and <b>computer vision</b>, I aim to 
                develop AI-driven solutions that bridge communication gaps and drive 
                real-world impact while optimizing deployment with DevOps best practices.
            </p>
        </div>

        <div class="py-2"> 
          <p class="text-lg font-bold">Education</p>
          <div class="mt-2 space-y-6 px-2">
            <div class="flex flex-col">
              <div class="flex items-center mb-2">
                <img src="https://github.com/adityaraj079/Images/blob/main/george_mason_university_logo.jpg?raw=true" loading="lazy" alt="Company Logo" class="w-14 h-14 rounded-full mr-3">
                <div>
                  <p class="font-semibold text-base">George Mason University</p>
                  <p class="text-sm text-gray-600"> Master's degree, Computer Science minor in Machine Learning</p>
                  <p class="text-sm text-gray-600">Aug 2025 - Present · 2 yrs</p>
                </div>
              </div>
            </div>  

            <div class="mt-2 space-y-6">
              <div class="flex flex-col">
                <div class="flex items-center mb-2">
                  <img src="https://github.com/adityaraj079/Images/blob/main/upesdehradun_logo.jpg?raw=true" loading="lazy" alt="Company Logo" class="w-14 h-14 rounded-full mr-3">
                  <div>
                    <p class="font-semibold text-base">University of Petroleum and Energy Studies (UPES)</p>
                    <p class="text-sm text-gray-600"> Bachelors of Technology - BTech, DevOps</p>
                    <p class="text-sm text-gray-600">Jul 2019 - May 2023 · 4 yrs</p>
                  </div>
                </div>
              </div>  
        </div>

        <div class="py-2"> 
            <p class="text-lg font-bold">Experience</p>
        <div class="mt-2 space-y-6 px-2">
          <div class="flex flex-col">
            <div class="flex items-center mb-2">
              <img src="https://github.com/adityaraj079/Images/blob/main/electrotech_logo.png?raw=true" loading="lazy" alt="Company Logo" class="w-14 h-14 rounded-full mr-3">
              <div>
                <p class="font-semibold text-base">Research Engineer</p>
                <p class="text-sm text-gray-600"> Electro Tech Systems</p>
                <p class="text-sm text-gray-600">Nov 2024 - Present · 6 mos</p>
                <p class="text-sm text-gray-600">Naraina · New Delhi · India</p>
              </div>
            </div>
            <ul class="list-disc list-inside text-sm">
              <li>Built ML models (Python, Scikit-learn, TensorFlow) to analyze sensor data and predict faults in stabilizers and transformers.</li>
              <li>Developed time-series forecasting models (Python, Excel) to estimate raw material demand and optimize supply chain.</li>
              <li>Explored deep learning (PyTorch, TensorFlow) for anomaly detection and power system optimization.</li>
            </ul>
          </div>  


          <div class="mt-2 space-y-6 px-2">
            <div class="flex flex-col">
              <div class="flex items-center mb-2">
                <img src="https://github.com/adityaraj079/Images/blob/main/ganit_inc_logo.jpg?raw=true" loading="lazy" alt="Company Logo" class="w-14 h-14 rounded-full mr-3">
                <div>
                  <p class="font-semibold text-base">Senior Data Analyst</p>
                  <p class="text-sm text-gray-600">Ganit Inc.</p>
                  <p class="text-sm text-gray-600">Jun 2024 - Oct 2024 · 5 mos</p>
                  <p class="text-sm text-gray-600">Chennai · Tamil Nadu · India</p>
                </div>
              </div>
              <ul class="list-disc list-inside text-sm">
                <li>Led FMCG sales data analysis, optimizing insights with SQL, Python, and Excel.</li>
                <li>Automated reporting pipelines, reducing manual effort by 60%.</li>
                <li>Migrated on-premise data to AWS, improving security and scalability.</li>
              </ul>
            </div>
          
            <div class="flex flex-col">
              <div class="flex items-center mb-2">
                <img src="https://github.com/adityaraj079/Images/blob/main/ganit_inc_logo.jpg?raw=true" loading="lazy" alt="Company Logo" class="w-14 h-14 rounded-full mr-3">
                <div>
                    <p class="font-semibold text-base">Data Analyst</p>
                    <p class="text-sm text-gray-600">Ganit Inc.</p>
                    <p class="text-sm text-gray-600">Jun 2023 - Jul 2024 · 1 yr 2 mos</p>
                    <p class="text-sm text-gray-600">Chennai · Tamil Nadu · India</p>
                  </div>
              </div>
              <ul class="list-disc list-inside text-sm">
                <li>Conducted data analysis, identifying trends for business growth.</li>
                <li>Built Excel dashboards for sales and operations tracking.</li>
                <li>Provided SQL-driven insights to optimize performance metrics.</li>
              </ul>
            </div>
          
            <div class="flex flex-col">
              <div class="flex items-center mb-2">
                <img src="https://github.com/adityaraj079/Images/blob/main/xebia_logo.jpg?raw=true" loading="lazy" alt="Company Logo" class="w-14 h-14 rounded-full mr-3">
                <div>
                  <p class="font-semibold text-base">DevOps Engineer</p>
                  <p class="text-sm text-gray-600">Xebia</p>
                  <p class="text-sm text-gray-600">Jun 2022 - Aug 2022 · 3 mos</p>
                  <p class="text-sm text-gray-600">Gurugram · Haryana · India</p>
                </div>
              </div>
              <ul class="list-disc list-inside text-sm">
                <li>Developed a full-stack hotel reservation system with CI/CD on Azure DevOps.</li>
                <li>Assisted in Docker migration, enhancing scalability.</li>
                <li>Worked with ReactJS, Next.js, and state management (Redux, Zustand).</li>
              </ul>
            </div>
          
          </div>
        </div>

        <div class="py-2">
            <p class="text-lg font-bold">Skills</p>
          <div class="space-y-2 px-2">
            <div>
              <p class="font-semibold">Programming:</p>
              <p class="text-sm text-gray-700">Python, SQL, Node.js, C++, JavaScript</p>
            </div>
            
            <div>
              <p class="font-semibold">Frameworks/Tools:</p>
              <p class="text-sm text-gray-700">TensorFlow, PyTorch, Flask, Django, React.js, OpenCV, Vue.js, Tailwind CSS, Bootstrap</p>
            </div>
            
            <div>
              <p class="font-semibold">Cloud & DevOps:</p>
              <p class="text-sm text-gray-700">AWS, Microsoft Azure, Docker, Jenkins, Kubernetes</p>
            </div>
            
            <div>
              <p class="font-semibold">Data Tools:</p>
              <p class="text-sm text-gray-700">MySQL, Excel, Google Sheets, MongoDB</p>
            </div>
            
            <div>
              <p class="font-semibold">Languages:</p>
              <p class="text-sm text-gray-700">Hindi, English</p>
            </div>
            
            <div>
              <p class="font-semibold">Interests:</p>
              <p class="text-sm text-gray-700">Generative AI (GenAI), Machine Learning, Application Containerization</p>
            </div>
            
            <div>
              <p class="font-semibold">Cloud Environment:</p>
              <p class="text-sm text-gray-700">Amazon Web Services (EC2, IAM, RDS, S3), Google Cloud Platform (GCP), Azure DevOps</p>
            </div>

            <div>
              <p class="font-semibold">Practices:</p>
              <p class="text-sm text-gray-700">Microservices, Agile, Git</p>
            </div>
            
          </div>
        </div>

          <div class="py-2">
            <p class="text-lg font-bold">References</p>

          <ul class="list-disc list-inside text-sm">
            <li class="font-semibold">Dr. Hitesh Kumar Sharma </li>
            <div class="mt-1 px-4">
                <li class="list-none text-sm text-gray-700">(Professor & HOD, University of Petroleum and Energy Studies)</li>
                <li class="list-none text-sm text-gray-700"> (+91-8755265577, <a href="mailto:hksharma@ddn.upes.ac.in" style="color: inherit; text-decoration: none;" onmouseover="this.style.color='#127315'" onmouseout="this.style.color='inherit'">hksharma@ddn.upes.ac.in</a>)</li>
            </div> 
        
            <li class="font-semibold pt-2">Dr. Arjun Arora </li>
            <div class="mt-1 px-4">
                <li class="list-none text-sm text-gray-700">(Assistant Professor, University of Petroleum and Energy Studies)</li>
                <li class="list-none text-sm text-gray-700"> (+91-9760505075, <a href="mailto:a.arora@ddn.upes.ac.in" style="color: inherit; text-decoration: none;" onmouseover="this.style.color='#127315'" onmouseout="this.style.color='inherit'">a.arora@ddn.upes.ac.in</a>)</li>
            </div>
        
            <li class="font-semibold pt-2">Mr. S A Praveen </li>
            <div class="mt-1 px-4">
                <li class="list-none text-sm text-gray-700">(AVP - HR, Ganit Business Solutions Private Limited)</li>
                <li class="list-none text-sm text-gray-700"> (+91-9884477199, <a href="mailto:praveen.sa@ganitinc.com" style="color: inherit; text-decoration: none;" onmouseover="this.style.color='#127315'" onmouseout="this.style.color='inherit'">praveen.sa@ganitinc.com</a>)</li>
            </div>
        </ul>
      </div>
        <!-- End main content here -->
    </div>
    <script>
      window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
</body>
</html>